<div class="container">
    <p-toolbar styleClass="mt-4 mb-4 gap-2">
        <ng-template pTemplate="left">
            <h2>Detalle de partido</h2>
        </ng-template>
    
        <ng-template pTemplate="right">
            <button pButton pRipple [label]="'Volver'" icon="pi pi-arrow-left" class="mr-2" (click)="volver()"></button>
            <button *ngIf="this.op == this.OPS.NEW" pButton pRipple 
                [label]="'Añadir partido'" icon="pi pi-save" class="p-button-success" (click)="guardar()"></button>
            <button *ngIf="this.op == this.OPS.EDIT && !consulta" pButton pRipple 
                [label]="'Editar partido'" icon="pi pi-save" class="p-button-success" (click)="guardar()"></button>
        </ng-template>
    </p-toolbar>
    
    <p-messages [(value)]="messages" ></p-messages>
    
    <form *ngIf="cargaInicial" [formGroup]="partidoForm" (ngOnSumit)="guardar()" class="formgrid grid">

        <div class="field col-12 md:col-3 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="temporada" formControlName="temporada" class="w-full" [disabled]="deshabilitarTemporada"/>
                <label htmlFor="temporada">Temporada *</label>
            </span>
        </div>

        <div class="field col-12 md:col-3 md:mb-5">
            <span class="p-float-label mx-4">
                <p-dropdown [options]="categorias" formControlName="categoria" optionLabel="descripcion" inputId="float-label" 
                (onChange)="enableEquipos()" [style]="{'width':'100%'}"></p-dropdown>
                <label for="float-label">Categoría *</label>
              </span>
        </div>

        <div class="field col-12 md:col-3 md:mb-5">
            <span class="p-float-label mx-4">
                <p-dropdown [options]="competiciones" formControlName="competicion" optionLabel="descripcion" inputId="float-label"
                [style]="{'width':'100%'}"></p-dropdown>
                <label for="float-label">Competición *</label>
              </span>
        </div>

        <div class="field col-12 md:col-3 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="jornada" type="number" formControlName="jornada" class="w-full" />
                <label htmlFor="jornada">Jornada *</label>
            </span>
        </div>

        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <p-autoComplete formControlName="equipoLocal" [suggestions]="filteredEquipos" (completeMethod)="filterEquipos($event)"  
                [dropdown]="true"  field="nombre" [delay]="delay" (onSelect)="selectEquipoLocal()" [style]="{'width':'100%'}"></p-autoComplete>
                <label for="float-label">Equipo Local *</label>
              </span>
        </div>

        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <p-autoComplete formControlName="equipoVisitante" [suggestions]="filteredEquipos" (completeMethod)="filterEquipos($event)"  
                [dropdown]="true"  field="nombre" [delay]="delay" [style]="{'width':'100%'}"></p-autoComplete>
                <label for="float-label">Equipo Visitante *</label>
            </span>
        </div>

        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <p-calendar formControlName="fecha" [firstDayOfWeek]= "firstDayOfWeek" [showTime]="true" [showIcon]="true"  [touchUI]="false" dateFormat="dd/mm/yy"  [showButtonBar]="true" class="w-full"></p-calendar>
                <label htmlFor="fecha">Fecha *</label>
            </span>
        </div>


        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="municipio" formControlName="municipio" class="w-full"/>
                <label htmlFor="municipio">Municipio *</label>
            </span>
        </div>

        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="pabellon" formControlName="pabellon" class="w-full"/>
                <label htmlFor="pabellon">Pabellón *</label>
            </span>
        </div>

        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="direccion" formControlName="direccion" class="w-full"/>
                <label htmlFor="direccion">Dirección *</label>
            </span>
        </div>
        
        

    </form>

</div>

