<div class="container">
    <p-toolbar styleClass="mt-4 mb-4 gap-2">
        <ng-template pTemplate="left">
            <h2>Detalle de usuario</h2>
        </ng-template>
    
        <ng-template pTemplate="right">
            <button *ngIf="mostrarVolver" pButton pRipple [label]="'Volver'" icon="pi pi-arrow-left" class="mr-2" (click)="volver()"></button>
            <button *ngIf="this.op == this.OPS.NEW" pButton pRipple 
                [label]="opcionesAdmin ? 'Añadir usuario' : 'Registrarse'" icon="pi pi-save" class="p-button-success" (click)="guardar()"></button>
            <button *ngIf="this.op == this.OPS.EDIT" pButton pRipple 
                [label]="opcionesAdmin ? 'Editar usuario' : 'Actualizar datos'" icon="pi pi-save" class="p-button-success" (click)="guardar()"></button>
        </ng-template>
    </p-toolbar>
    
    <p-messages [(value)]="messages" ></p-messages>
    
    <form *ngIf="cargaInicial" [formGroup]="usuarioForm" (ngOnSumit)="guardar()" class="formgrid grid">
        
        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="login" formControlName="login" class="w-full" />
                <label htmlFor="login">Login *</label>
            </span>
        </div>

        <div class="field col-12 md:col-4 md:mb-5 ">
            <span class="p-float-label mx-4">
                <p-password formControlName="pass" [toggleMask]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-password>
                <!-- <input pInputText type="password" id="pass" formControlName="pass" class="w-full"/> -->
                <label htmlFor="pass">Contraseña</label>
            </span>
        </div>

        <div class="field col-12 md:col-2 md:mb-5">
            <span *ngIf="opcionesAdmin" class="p-float-label mx-4">
                <p-dropdown [options]="opcionesSiONo" formControlName="validado" optionLabel="text" inputId="float-label"></p-dropdown>
                <label for="float-label">Validado</label>
              </span>
        </div>
        <div class="field col-12 md:col-1 md:mb-5">
            <span *ngIf="opcionesAdmin" class="p-float-label mx-4">
                <p-dropdown [options]="opcionesSiONo" formControlName="activo"  optionLabel="text" inputId="float-label"></p-dropdown>
                <label for="float-label">Activo</label>
              </span>
        </div>


        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="nombre" formControlName="nombre" class="w-full"/>
                <label htmlFor="nombre">Nombre</label>
            </span>
        </div>
        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="apellido1" formControlName="apellido1" class="w-full"/>
                <label htmlFor="apellido1">Primer apellido</label>
            </span>
        </div>
        

        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="apellido2" formControlName="apellido2" class="w-full"/>
                <label htmlFor="apellido2">Segundo apellido</label>
            </span>
        </div>

        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="docIdentidad" formControlName="docIdentidad" class="w-full"/>
                <label htmlFor="docIdentidad">Documento</label>
            </span>
        </div>

        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="email" formControlName="email" class="w-full"/>
                <label htmlFor="email">Email</label>
            </span>
        </div>
        
        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <p-dropdown [options]="perfiles" formControlName="perfil" optionLabel="descripcion" inputId="float-label"></p-dropdown>
                <label for="float-label">Perfil</label>
              </span>
        </div>

        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="telefono" formControlName="telefono" class="w-full"/>
                <label htmlFor="telefono">Telefono</label>
            </span>
        </div>

        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="municipio" formControlName="municipio" class="w-full"/>
                <label htmlFor="municipio">Municipio</label>
            </span>
        </div>

        <div class="field col-12 md:col-4 md:mb-5">
            <span class="p-float-label mx-4">
                <input pInputText id="direccion" formControlName="direccion" class="w-full"/>
                <label htmlFor="direccion">Dirección</label>
            </span>
        </div>

        
    </form>

</div>
