<div class="container">

    <p-accordion styleClass="mb-4 w-full">
        <p-accordionTab>
            <ng-template pTemplate="header">
                <div class="flex align-items-center">
                    <i class="pi pi-search mr-2"></i>
                    <span class="vertical-align-middle">Filtros</span>
                </div>
            </ng-template>
            <ng-template pTemplate="content">

                    <div class="grid gap-4">
                        <div class="md:col-3 lg:col-4">
                            <span class="p-float-label">
                                <input id="nombre" type="text" [(ngModel)]="nombre" pInputText class="w-full">
                                <label for="nombre">Nombre o apellidos</label>
                              </span>
                        </div>
                        <div class="md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="perfiles" [(ngModel)]="perfil" optionLabel="descripcion" inputId="float-label"></p-dropdown>
                                <label for="float-label">Perfil</label>
                              </span>
                        </div>
                        <div class="md:col-1 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="opcionesSiONo" [(ngModel)]="activo"  optionLabel="text" inputId="float-label"></p-dropdown>
                                <label for="float-label">Activo</label>
                            </span>
                        </div>     
                        <div class="md:col-2 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="opcionesSiONo" [(ngModel)]="validado" optionLabel="text" inputId="float-label"></p-dropdown>
                                <label for="float-label">Validado</label>
                              </span>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center mt-2">
                        <button pButton pRipple label="Limpiar filtros" icon="pi pi-delete-left" class="p-button-secondary mt-2 mr-4" (click)="limpiarFiltros()"></button>
                        <button pButton pRipple label="Aplicar filtros" icon="pi pi-search" class="p-button mt-2" (click)="filtrar(true)"></button>              
                    </div>

                
               
            </ng-template>
        </p-accordionTab>
    </p-accordion>

    <!-- <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="add()"></button>
            <button pButton pRipple [label]="'delete'" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelected()" [disabled]="!selectedItems || !selectedItems.length"></button>
        </ng-template>
    
        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar> -->
   
    <p-messages [(value)]="messages" ></p-messages>
    <!-- <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog> -->
    
    <p-confirmDialog #cd [style]="{width: '50vw'}">
        <ng-template pTemplate="footer">
            <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
            <button type="button" pButton icon="pi pi-check" class="p-button-danger" label="Confirmar eliminación" (click)="cd.accept()"></button>
        </ng-template>
    </p-confirmDialog>

    <div>
        <p-table
            #dt
            [value]="usuarios"
            [lazy]="false"
            [rows]="itemsPorPagina"
            [paginator]="false"
            [globalFilterFields]="['nombre', 'email', 'perfil.descripcion', 'validado', 'activo']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [(selection)]="selectedItems"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Usuarios {first} - {last} de {totalRecords}"
            [showCurrentPageReport]="true"
        >
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h3 class="m-0">Listado de usuarios</h3>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
                    </span>
                    <div class="flex align-items-center justify-content-between gap-2">
                        <button pButton pRipple label="Nuevo Usuario" icon="pi pi-plus" class="p-button-success mr-2" (click)="add()"></button>
                        <button pButton pRipple [label]="'Eliminar'" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelected()" [disabled]="!selectedItems || !selectedItems.length"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="nombre" style="min-width:15rem">Nombre y apellidos <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="perfil.descripcion" style="min-width:10rem">Perfil <p-sortIcon field="perfil.descripcion"></p-sortIcon></th>
                    <th pSortableColumn="validado">Activo <p-sortIcon field="validado"></p-sortIcon></th>
                    <th pSortableColumn="activo" style="min-width:10rem">Validado <p-sortIcon field="activo"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="usuario"></p-tableCheckbox>
                    </td>
                    <td>{{ usuario.nombre }} {{ usuario.apellido1 }} {{ usuario.apellido2 }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.perfil.descripcion }}</td>
                    <td>{{ usuario.validado ? "Sí" : "No"}}</td>
                    <td>{{ usuario.activo ? "Sí" : "No"}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" (click)="edit(usuario)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="delete(usuario)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="card flex justify-content-between">
                    <div class="flex align-items-center justify-content-between">{{ totalItems != 0 ? first + 1 : '0'}} {{ (first + 1 + itemsPorPagina) >  totalItems ? totalItems : (first + 1 + itemsPorPagina)}} de {{totalItems}} usuarios.</div>
                    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="itemsPorPagina" [totalRecords]="totalItems" [rowsPerPageOptions]="PAGINACION_ITEMS_TABLA"></p-paginator>
                </div>  
            </ng-template>
        </p-table>
    </div>

</div>